@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap);
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
body{
    overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: antiquewhite;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
/*navigation color and arrangement line height*/
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;

}
/*myname logo in the corner */
.Logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #e3a272;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
/*arrange the items para mag tapad*/
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
/*color and design of navigation buttons*/
.navItems li a{
    font-size: 25px;
    color: #e3a272;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
/*color when clicked the navigation butt*/
.navItems li:hover a,
.Links a:hover{
    color: #e9b48e;
}
/*logo links IG twitter etc color*/
.Links a{
    font-size: 30px;
    color: #e3a272;
    margin: 25px 10px;
}

/*for buttons download CV hire me*/
.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: left;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 390px;
    width: 390px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg,#e3a272,#f7e6d9);
    animation: object1 4s linear infinite;
}  
/*to make the big shape behind the text */
.cols{
    width: 50%;
}
.cols0{
    z-index: 5;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 140px;
    width: 140px;
    border-radius: 50%;
    left: 35%;
    top: 16%;
    background: linear-gradient(45deg,#e3a272,#f7e6d9);
    animation: object2 4s linear infinite;
}  

@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}

@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}
/*to make the small shape behind the text */
.cols{
    width: 50%;
}
.cols0{
    width: 60%;
    z-index: 5;
}


/*cols the description*/
.cols{
    width: 50%;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}
/*line color*/
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #ddaf86;
}
h1{
    display: block;
    font-size: 3em;
    font-weight: 900;
    color: #e3a272;
}
.multiText{
    color: #3d535f;
    text-transform: capitalize;
    font-size: 30px;
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #e3a272;
}
.btns{
    width: 100%;
    position: relative;
    left: 150px;
}
/*button cv color background border inside shadow down*/
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #e3a272;
    background-color: #f1cfb7;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
/*hover color button*/
button:hover{
    background-color: #e9b48e;
}
/*image moving profife*/
.imgbox{
    position: relative;
    width: 68%;
    height: 100%;
}
.imgbox img{
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: -580px;
    right: 50px;
    margin: 0 0 0 750px;
    transform: rotateY(180deg);
    animation: animateUser 4s linear infinite;
}
@keyframes animateUser{
    50%{
        right: 30px;  
    }
}
.imgbox #splash{
    position: absolute;
    height: 800px;
    top: 50%;
    left: 50%;
    margin: -500px 0 0 750px;
    transform: translate(-50%, -50%) rotate(-30deg);
    width: 150%;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    50%{
        left: 51%;
        width: 140%;
    }
}